@model TrangBanHang.Models.Employee

@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                <form class="login100-form validate-form" action="/Employee/DangKi" method="post">
                    <span class="login100-form-title p-b-55">
                        Sign Up
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Valid username is required: A - Z, 0 - 9">
                        <input class="input100" id="UserName" name="UserName" required="required" type="text" value="" placeholder="Username" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-user"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" id="Password" name="Password" required="required" type="Password" value="" placeholder="Password" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-lock"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Fullname is required">
                        <input class="input100" id="FullName" name="FullName" required="required" type="text" value="" placeholder="Full Name" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-license"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" id="Email" name="Email" required="required" type="text" value="" placeholder="Email" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-envelope"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Phone number is required">
                        <input class="input100" id="Phone" name="Phone" required="required" type="text" value="" placeholder="Phone Number" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-phone-handset"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Address is required">
                        <input class="input100" id="Address" name="Address" required="required" type="text" value="" placeholder="Address" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-map-marker"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" id="BankAccount" name="BankAccount" required="required" type="text" value="" placeholder="Bank Account" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-database"></span>
                        </span>
                    </div>

                    <div class="container-login100-form-btn p-t-25">
                        <button class="login100-form-btn">
                            Sign Up
                        </button>
                    </div>
                    <p>
                        @if (@ViewBag.SuccessMessage != null)
                        {
                            @ViewBag.SuccessMessage
                        }
                    </p>
                    <div class="text-center w-full p-t-42 p-b-22">
                        <a class="txt1 bo1 hov1" href="#">
                            Back to Login
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/js/main.js"></script>

</body>
</html>
