@model TrangBanHang.Models.Employee

@{
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="~/Assets/Login/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Assets/Login/css/main.css">
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
                <form class="login100-form validate-form" action="/Employee/updateThongTin" method="post" enctype="multipart/form-data">
                    <span class="login100-form-title p-b-55">
                        Update thông tin
                    </span>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Fullname is required">
                        <input class="input100" id="FullName" name="FullName" required="required" type="text" value="" placeholder="Full Name" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-user"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Password is required">
                        <input class="input100" id="Password" name="Password" required="required" type="Password" value="" placeholder="Password" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-lock"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Email is required">
                        <input class="input100" id="Email" name="Email" required="required" type="text" value="" value="" placeholder="Email" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-license"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Phone">
                        <input class="input100" id="Phone" name="Phone" required="required" type="text" value="" placeholder="Phone" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-envelope"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="Address is required">
                        <input class="input100" id="Address" name="Address" required="required" type="text" value="" placeholder="Address" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-phone-handset"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="BankAccount is required">
                        <input class="input100" id="BankAccount" name="BankAccount" required="required" type="text" value="" placeholder="BankAccount" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-map-marker"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16" data-validate="The Birthday field is required">
                        <input class="input100" data-val="true" data-val-date="The field Birthday must be a date." data-val-required="The Birthday field is required." id="Birthday" name="Birthday" required="required" type="date" placeholder="Birthday" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <span class="lnr lnr-database"></span>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        <div class="thumbnail" id="photocard"><img src="/Image/defaultAvata.png" width="150" height="150" style="margin-left: 25%;"/></div>
                        <input class="input100" id="ImageFile" name="ImageFile" onchange="uploadImageHelper.uploadFile(this.files);" required="required" type="file" value="" />
                        <span class="focus-input100"></span>
                        
                    </div>

                    <div class="container-login100-form-btn p-t-25">
                        <button class="login100-form-btn">
                            Update thông tin
                        </button>
                    </div>
                    <p>
                        @if (@ViewBag.SuccessMessage != null)
                        {
                            @ViewBag.SuccessMessage
                        }
                    </p>
                   
                </form>
            </div>
        </div>
    </div>
    <script>
        var uploadImageHelper = (function () {
            var selectedFile;
            var cardsPlaceHolder;
            return {
                fileSelection: function () {
                    var selectedfile = $('#file')[0].files[0];
                    selectedFile = selectedfile;
                    document.getElementById("filefield").value = selectedfile.name;

                },
                uploadFile: function (file) {
                    var photoPlace = document.getElementById("photocard");
                    if (!file.length) {
                        photoPlace.innerHTML = "<p>No files selected!</p>";
                    } else {
                        selectedFile = file;
                        photoPlace.innerHTML = "";
                        for (var i = 0; i < file.length; i++) {
                            var img = document.createElement("img");
                            img.src = window.URL.createObjectURL(file[i]);
                            img.height = 100;
                            img.weight = 100;
                            img.style = "margin-left: 25%";
                            img.onload = function () {
                                window.URL.revokeObjectURL(this.src);
                            }
                            photoPlace.appendChild(img);
                            var fileName = document.createElement("p");
                            fileName.innerHTML = file[i].name;
                            var fileSize = document.createElement("p");
                            fileSize.innerHTML = file[i].size;
                            photoPlace.appendChild(fileName);
                            photoPlace.appendChild(fileSize);
                        }
                    }
                },
                uploadFiles: function (files) {
                    cardsPlaceHolder = document.getElementById("cardPlaceHolder");
                    if (!files.length) {
                        cardsPlaceHolder.innerHTML = "<p>No files selected!</p>";
                    } else {
                        cardsPlaceHolder.innerHTML = "";
                        var list = document.createElement("ul");
                        list.className = "list-inline";
                        cardsPlaceHolder.appendChild(list);
                        for (var i = 0; i < files.length; i++) {

                            var li = document.createElement("li");
                            list.appendChild(li);

                            var thumbnailDiv = document.createElement("div");
                            thumbnailDiv.className = "thumbnail";
                            thumbnailDiv.id = i;

                            var img = document.createElement("img");
                            img.src = window.URL.createObjectURL(files[i]);
                            img.height = 100;
                            img.onload = function () {
                                window.URL.revokeObjectURL(this.src);
                            }

                            var infoDiv = document.createElement("div");
                            infoDiv.className = "caption";
                            var fileName = document.createElement("p");
                            fileName.innerHTML = "Name: " + files[i].name;
                            var fileSize = document.createElement("p");
                            fileSize.innerHTML = "File size: " + files[i].size;
                            infoDiv.appendChild(fileName);
                            infoDiv.appendChild(fileSize);

                            thumbnailDiv.appendChild(img);
                            thumbnailDiv.appendChild(infoDiv);
                            li.appendChild(thumbnailDiv);
                        }
                    }
                },
                getFileName: function () {
                    return selectedFile.name;
                },

                getFileSize: function () {
                    return selectedFile.size;
                },
                getFileExtension: function () {

                }
            }
        })();
    </script>




    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/bootstrap/js/popper.js"></script>
    <script src="~/Assets/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Login/js/main.js"></script>

</body>
</html>

